$lightGreen: #b9e7e7;
.app {
  .container {
    // login & register

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightGreen;

      h1 {
        font-size: 30px;
        color: teal;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: white;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          //   border: none;
          border-bottom: 1px sodid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: #008080;
          color: white;
          cursor: pointer;
        }

        p {
          font-size: 15px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}
